<body>
    <div class="container">
        <div class="row">
            <img src="assets/images/karavoslightning.jpg" alt="Aliveri">
        </div>
        <div class="row">
            <div id="p">
                <p>
                    Aliveri (Greek: Αλιβέρι) is a town and a community in the island of Evvoia, Greece. 
                    It is part of the municipal unit Tamyneoi, and the seat of the municipality Kymi-Aliveri. 
                    Aliveri is situated in the western part of the island, on the South Euboean Gulf. 
                    It is 13 km southwest of Avlonari, 14 km east of Amarynthos and 39 km east of Chalcis. 
                    The Greek National Road 44 (Thebes - Chalcis - Karystos) passes through the town. 
                    The community Aliveri consists of the town Aliveri and the villages Anthoupoli, Katakalos, Latas and Milaki.<br><br>
                    Aliveri is mostly an industrial town. The biggest cement factory of Greece and a power generating plant 
                    of the Public Power Corporation (ΔΕΗ) are located in Aliveri. 
                    The lignite fired power plant began producing power in 1955. 
                    As the lignite seam has been exhausted now, the power plant is using oil. 
                    In the area, there is also marble mining industry. Aliveri has a picturesque harbor called "Karavos".<br><br>

                    Whether you go on holiday to the idyllic countryside of central Evia, or for a short trip to escape the stressful rhythms of Athens, 
                    it is certain that you will find several destinations that are worth dedicating even a little of your time to.<br><br>
                    Although when we talk about central Evia, the mind usually goes to Eretria - where many residents of the capital keep holiday homes, 
                    due to the easy access to the area from Oropos - just a few kilometers further you can also find some beautiful but less prominent towns .<br><br>
                    One of them is of course Aliveri, which is 18 kilometers from Amarynthos, 27 kilometers from Eretria and 45.9 kilometers from Chalkida, 
                    with which it is connected thanks to daily routes of the local KTEL. Already from the middle of the road there, in fact, you will notice the characteristic PPC chimneys, 
                    high, with wide stripes of white and red color, that remind you of the historical importance of the town for the electrification of Greece.
                </p>
            </div>
        </div>
        <div class="row">
            <div>
            </div>
        </div>
    </div>
</body>