<body>
  <div class="container">
      <div class="row">
          <div class="col-12">
              <h2>Contact</h2>
          </div>
      </div>
      <div class="row" id="row">
        <div class="col-6" id="tbl">
          <div class="media text-muted pt-3" *ngFor="let contact of contacts">
            <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
              <strong class="d-block text-gray-dark">{{contact.Firstname + ' ' + contact.Lastname}}</strong>
              {{contact.Message}}
            </p>
          </div>
        </div>
        <div class="col-6">
          <form #contactForm="ngForm" (ngSubmit)="saveContact(contactForm.value)" method="POST">
            <input type="text" ngModel name="Firstname" placeholder="Firstname">
            <input type="text" ngModel name="Lastname" placeholder="Lastname"><br>
            <input type="email" ngModel name="Email" placeholder="Email">
            <input type="text" ngModel name="Phone" placeholder="Phone"><br>
            <textarea type="text" ngModel name="Message" placeholder="Message"></textarea><br>
            <button>Send</button>
          </form>
        </div>
      </div>
  </div> 
</body>