body{
    background-color: #24527a;
    padding-bottom: 5%;
}
h2{
    margin: 2%;
    text-align: center;
    color: white;
}
#row{
    background-color:  #e0ebeb;
    border-radius: 5px;
    padding: 2%;
}
#tbl{
    margin-top: 1%;
    margin-bottom: 1%;
    height: 230px;
    overflow: hidden;
    overflow-y: scroll;
    background-color: white;
}
.media-body{
    margin-left: 2%;
}
form{
    margin: 2%;
    text-align: center;
}
input{
    border-radius: 3px;
    border: transparent;
    padding-left: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
    margin: 2px;
    height:10%;
    width: 49%;
}
textarea{
    border-radius: 3px;
    border: transparent;
    padding-left: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
    margin: 2px;
    width:99%;
    height: 100px;
}
button{
    border-radius: 3px;
    border: transparent;
    width: 99%;
    padding: 1%;
    background-color: #24527a;
    color: white;
}
