body{
    background-color: #24527a;
}
h2{
    margin: 2%;
    text-align: center;
    color: white;
}
.col-4{
    /* background-color: black; */
    /* border: 1px solid #b2ff47; */
    justify-content: center;
    margin-bottom: 10%;    
}
.card{
    margin-left: 10%;
    height: 100%;
}