nav{
    color: black;
    background-color: white;
    text-transform: capitalize;
}
h2 {
    margin-left: 5%;
    margin-right:40%;
    color: #24527a;
}
.nav-item .nav-link{
    color:black ;
}
.nav-item .nav-link:hover{
    color:#24527a ;
}
/* #e0ebeb : gray */