<!-- footer section start -->
<div class="footer_section layout_padding">
    <div class="container">
      <div class="footer_section">
        <div class="row">
          <div class="col-lg-8">
            <h2>Services Link</h2>
            <table>
                <tr><a href="/">home</a></tr>
                <tr><a href="/accommondation">accommondation</a></tr>
                <tr><a href="/entertainment">entertainment</a></tr>
                <tr><a href="/sightseeing">sightseeing</a></tr>
                <tr><a href="/transportation">transportation</a></tr>
                <tr><a href="/contact">contact</a></tr>
            </table>
          </div>
          <div class="col-lg-4">
            <h2 >About</h2>
            <table>
                <tr>Country | <a href="https://en.wikipedia.org/wiki/Greece">Greece</a></tr>
                <tr>Administrative region | <a href="https://en.wikipedia.org/wiki/Central_Greece_(region)">Central Greece</a></tr>
                <tr>Regional unit | <a href="https://en.wikipedia.org/wiki/Euboea_(regional_unit)">Euboea</a></tr>
                <tr>Municipality | <a href="https://en.wikipedia.org/wiki/Kymi-Aliveri">Kymi-Aliveri</a></tr>
                <tr>Municipal unit | <a href="https://en.wikipedia.org/wiki/Tamyneoi">Tamyneoi</a></tr>
            </table>
            </div>
        </div>
      </div>
    </div>
  </div>
  <!-- footer section end -->
  <!-- copyright section start -->
  <div class="copyright_section">
    <div class="container">
      <p class="copyright_text">Aliveri | 2023</p>
    </div>
  </div>
  
