body{
    background-color: #24527a;
}
h2{
    padding: 3%;
    text-align: center;
    color: white;
}
.col-3{
    /* background-color: black; */
    /* border: 1px solid #b2ff47; */
    margin-bottom: 5%;    
}
.card{
    justify-content: center;
    height: 100%;
}